<!DOCTYPE html> 
<html>

<head>
  <title>Map My Cab</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="static/modernizr-1.5.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
  </script>
</head>

<body>
<div id="main">
  <header>
    <div id="strapline">
      <div id="welcome_slogan">
	<h3>Map My Cab</h3>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->	  
    <nav>
      <div id="menubar">
        <ul id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/batch">Batch Analysis</a></li>
          <li class="current"><a href="/downloaddata">Download Data</a></li>
          <li><a href="/aboutme">Slide Deck</a></li>
        </ul>
      </div><!--close menubar-->	
    </nav>
  </header>
    
  <div id="site_content">
    <div id="content">
      <div class="content_item">
    	<p>Access the simulated real-time stream <a href="http://www.mapmycab.org:5000/realtime">here</a></p>
        <p>Access the day of week profile <a href="http://www.mapmycab.org:5000/doworder">here</a></p>
        <p>Access hourly profiles: http://www.mapmycab.org:5000/hodorder/&#60day&#62 where &#60day&#62 is in {Mon, Tue, Wed, Thu, Fri, Sat, Sun}</p>	
    	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="content_item">
	 <footer>
	  <span style="float: left; color:#FFF">
	    &nbsp&nbsp&nbsp&nbsp Preetika Kulshrestha
	  </span> 
	  <span style="float: right; color:#FFF">
	    <a href="mailto:preetika.kulshrestha@gmail.com">Email</a>     |
	    <a href="https://github.com/PreetikaKuls">Github</a>     |
            <a href="https://www.linkedin.com/in/preetikakulshrestha">Linkedin</a>&nbsp&nbsp&nbsp&nbsp
	  </span>
	</footer>
	</div>
      </div><!--close content-->   
  </div><!--close site_content-->  	
  
</div><!--close main-->

<!-- javascript at the bottom for fast page loading -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
</body>
</html>
