<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marker animations with <code>setTimeout()</code></title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
// If you're adding a number of markers, you may want to drop them on the map
// consecutively rather than all at once. This example shows how to use
// window.setTimeout() to space your markers' animation.

var SF = new google.maps.LatLng(37.7577,-122.4376);

var neighborhoods = [
  new google.maps.LatLng(52.511467, 13.447179),
  new google.maps.LatLng(52.549061, 13.422975),
  new google.maps.LatLng(52.497622, 13.396110),
  new google.maps.LatLng(52.517683, 13.394393)
];

var markers = [];
var map;

function initialize() {
  var mapOptions = {
    zoom: 12,
    center: SF
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
}

function update_values() {
       // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON('/test',
            function(data) {
                cabs = data.cabs
		console.log(cabs)
		clearMarkers();
		for (var i = 0; i < cabs.length; i = i + 1) {
	            addMarker(new google.maps.LatLng(cabs[i].lat, cabs[i].lng));
		}
               // document.write(data.num)
               // $("#num").text(data.num+" %")
            });
    window.setTimeout(update_values, 2000);
}

update_values();

function drop(lat, lng) {
//  clearMarkers();
 // for (var i = 0; i < neighborhoods.length; i++) {
//    window.setTimeout(function() {
      point  = new google.maps.LatLng(lat,lng);
      clearMarkers();
      addMarker(point);
//    }, i * 200);
  }

function addMarker(position) {
  markers.push(new google.maps.Marker({
    position: position,
    map: map,
//    animation: google.maps.Animation.DROP
  }));
}

function clearMarkers() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body>
    <div id="panel" style="margin-left: -52px">
      <button id="drop"</button>
     </div>
    <div id="map-canvas"></div>
  </body>
</html>
