<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
 
              
<body>
    <div id="p_container" style="height: 450px; min-width: 310px"></div>                
    <div id="d_container" style="height: 450px; min-width: 310px"></div>

</body>


 <script>
/////////////
$(function () {
	var topic = {{ topic|safe }}
	var keys = {{ keys|safe }}	
        var distances = {{ distances|safe }}
        var pickups = {{ pickups|safe }}
        var dropoffs = {{ dropoffs|safe }}
        var occ = {{ occ|safe }}

        $('#p_container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: topic
        },
        xAxis: {
            categories: keys
        },
        yAxis: {
            title: {
                text: topic
            }
        },
        series: [
	{
            name: 'Total Pickups',
            data: pickups
        } , 
	{
            name: 'Total Dropoffs',
            data: dropoffs
	}
        ]
    });      
        $('#d_container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: topic
        },
        xAxis: {
            categories: keys
        },
        yAxis: {
            title: {
                text: topic
            }
        },
        series: [
        {
            name: 'Avg Distance',
            data: distances
        },
        {
            name: 'Avg Occupancy',        
            data: occ
        }]
    });      


});
</script>
 
</html>
